<aside class="side-navigation">
  <strong>Getting started</strong>
  <nav>
    <ul>
      <li>Design System</li>
    </ul>
  </nav>
  <strong>Themes</strong>
  <nav>
    <ul>
      <li>Starter</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
      <li>Dashboard</li>
    </ul>
  </nav>
</aside>

<style lang="scss">
  .side-navigation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    width: 250px;
    top: 80px;
    bottom: 0;
    padding: 2rem;
    overflow-y: auto;
    scrollbar-width: thin;
    background-color: var(--primary-200);
  }
</style>