---
import '../assets/scss/globals.scss'
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

const {title} = Astro.props
---

<html lang="en" dir="ltr">
  <Head title={title} />
  <body>
    <Header />
    <main id="main-content">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">
  // sticky footer on low content pages
  html,
  body {
    height: 100%;
    overflow-x: hidden;
  }

  body {
    display: flex;
    flex-direction: column;
    background-color: var(--background);

    main {
      flex: 1 0 auto;
    }

    footer {
      flex-shrink: 0;
    }
  }
</style>
